.contact-wrapper {
    max-width: 700px;
    margin: 15vh auto;
}
.contact-card {
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5%;
}
.contact-wrapper p {
    padding-top: 5px;
    padding-bottom: 25px;
}

@media (max-width: 1200px) {
    .contact-card {
        margin: 0 5vw;
    }
}
