.contact-wrapper {
    max-width: 700px;
    margin: 20vh auto;
}
.contact-card {
    text-align: center;
}
.contact-wrapper p {
    padding-top: 5px;
    padding-bottom: 25px;
}

@media (max-width: 1200px) {
    .contact-card {
        margin: 0 5vw;
    }
}
