.JobCard {
    background-color: #0d2135;
    position: relative;
    width: 35%;
    left: 30%;
    margin-bottom: 1%;
}

.JobHeader {
    color: #f5f5f5;
}
.JobBullets {
    color: #c3c3c3
}
.JobDates {
    color: #f5f5f5
}

.CompanyLink {
    color: #5ff0ce;
    text-decoration: none;
}

.CompanyLink a:hover {
    color: #20e4b0;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .JobCard {
        width: 90%;
        left: 5%;
        margin-top: 2%;
    }
    .JobHeader {
        font-size: 90%;
    }
    .JobBullets {
        font-size: 75%;
    }
    .JobDates {
        font-size: 90%;
    }
  }

  