.JobCard {
    padding: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 25px 0;
}
.JobBullets li {
    color: #c3c3c3;
    list-style-type: square;
    margin: 5px 0;
}

@media screen and (max-width: 800px) {
    .JobCard {
        margin: 5% 5%;
    }
    .JobHeader {
        font-size: 20px;
    }
    .JobDates {
        font-size: 18px;
    }
  }

  