
  .project-card {
    position: relative;
    height: 30vh;
    width: 20vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    padding: 1rem 1rem;
}

@media(max-width: 600px) {
  .project-card {
    position: relative;
    height: auto;
    width: 80vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    padding: 1rem 1rem;
    font-size: 80%;
}
.project-title {
  font-size: 190%;
}

}

.project-card-icon {
  display: inline-flex;
}

.project-card-header {
  display: inline-flex;
  float: right;
}

.project-card-header-item {
  margin-right: 10px;
}

.project-title {
  font-size: 220%
}

.project-tools {
  display: inline-flex;
  position: relative;
  margin-right: 1rem;
}