

.project-grid {
    display: grid; 
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
}

.grid-container {
    position: relative;
    justify-content: "center";
    width: 50vw;
    left: 19vw;
    margin-top: 10vh;
    margin-bottom: 8vh;
    align-items: center;
} 

 @media(max-width: 1600px) {
    .grid-container {
        width: 70vw;
        left: 15vw;
    }
    .project-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
} 

@media(max-width: 600px) {
    .grid-container {
        width: 80vw;
        left: 10vw;
    }
    .project-grid {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
} 
