/*The following file creates custom react-bootstrap themes*/

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal,
);

$primary: #1a1a1d;
$secondary: #1F4E6D;
$success: #4056a1;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap.scss";