/*The following file creates custom react-bootstrap themes*/

/*Apply custom themes*/
$primary: #1a1a1d;
$secondary: #1F4E6D;
$success: #4056a1;

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap.scss";